/data/
/tables/
/bufrtables_bufr-tools.zip
/eccodes-2.0.0-Source.tar.gz
/eccodes-2.0.2-Source.tar.gz
/grib_accessor_class_apply_operators.c
/TODO
/.project
/.pydevproject
/build/
/dist/
/trollbufr.egg-info/
/gallery/
/.settings/
/test_verify/
/plot/
