/data/
/tables/
/bufrtables_bufr-tools.zip
/d_ec.lst
/d_mw.lst
/eccodes-2.0.0-Source.tar.gz
/eccodes-2.0.2-Source.tar.gz
/grib_accessor_class_apply_operators.c
/table_b_024_078-000_008.dat
/table_c_024_078-000_008.dat
/table_d_024_078-000_008.dat
/TODO
/.project
/.pydevproject
/build/
/dist/
/trollbufr.egg-info/
/o.se
/o.so
/plot/
/iasi_ctp.png
/iasi_plot.old.txt
/iedx61.png
/out.1
/out.2
/out.plot.1
/out.plot.2
